<?xml version="1.0"?>
<config>

    <modules>
        <Linus_Iddqd>
            <version>0.1.0</version>
        </Linus_Iddqd>
    </modules>

    <global>
        <helpers>
            <linus_iddqd>
                <class>Linus_Iddqd_Helper</class>
            </linus_iddqd>
        </helpers>

        <models>
            <core>
                <rewrite>
                    <config>Linus_Iddqd_Model_Config</config>
                    <layout_update>Linus_Iddqd_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
    </global>

</config>
